<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Your Songs</title>
    <link rel="stylesheet" href="static/page2.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
    <span class="sp1">Melody <span class="sp2">Hunt</span></span>
    <div class="page2" id="pg2">
        <h1>GET ACCESS TO YOUR PLAYLIST</h1>
        <div class="content">
            <div class="box">
                <div class="content2">{{data}}</div>
            </div>
        </div>
    </div>
</body>
</html>