<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new songs to your playlist-MelodyHunt</title>
    <link rel="stylesheet" href="static/page5.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
    <span class="sp1">Melody <span class="sp2">Hunt</span></span>
    <div class="page3" id="pg3">
        <h1>ADD NEW SONGS TO YOUR PLAYLIST</h1>
        <div class="content">
            <div class="box2">
                <div class="form">
                    <h2 class="name">Enter Details here</h2>
                    <form action="/get_detail" method="POST">
                        <label for="Username">Songname</label>
                        <input type="text" id="Username" name="Username" placeholder="Enter Song name here" required>
                        <label for="hook">Hookline</label>
                        <input type="text" id="hook" name="Hook-line" placeholder="Enter song's hook line so that we can help others finding their fav. song" required>
                        <label for="an">Artist Name</label>
                        <input type="text" id="an" name="Artist name" placeholder="Enter the Artist name" required>
                        <button class="btn" value="Login">Update Playlist</button>
                        <h3 class="update">{{info}}</h3>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>